@model MedicalTechnology.ServicePlatform.Website.Models.OrderViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_OrderPageLayout.cshtml";
}
<script type="text/javascript" src="~/Scripts/Order.js"></script>
<script type="text/javascript" src="~/Scripts/UploadFile.js"></script>
<script type="text/javascript" src="~/Scripts/Print.js"></script>
<script type="text/javascript" src="~/Scripts/OrderNotifySetting.js"></script>
@Styles.Render("~/Content/main/css")
<div class="divtitle divtitle-common">
    <p class="titleinfo serverlist">服务申请</p><span class="orderCreateStep">2/3</span><div class="divcontrolsw"><img src="~/Content/images/素材01 (18).png" /></div>
</div>
@*<div id="pnlFixedBar" class="non-mobile" style="top: -100px;">
    <span class="applyBarJobTitle">test</span>
</div>*@
@using (Html.BeginForm("OrderCreate", "ServiceOrderCreate", FormMethod.Post, new { @class = "orderform" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div name="divServiceOrder" class="divupdateService">
            @Html.ValidationSummary(true, "创建失败，请修改错误并重试", new { @class = "text-danger" })
            @if (TempData["message"] != null && TempData["message"].ToString().Length > 0)
            {
                if (TempData["messagetype"] == "1")
                {
                    <div class="Order_Message Order_SuccessMessage">
                        <p style="float:left;">@TempData["message"]</p>
                        <a href="#divServiceOrder" id="aprint" style="height:28px;" class="btn btn-primary">打印</a>
                    </div>
                }
                else
                {
                    <div class="Order_Message Order_ErrorMessage">
                        @TempData["message"]
                    </div>
                }
            }
        </div>
        @Html.Partial("_BaseOrderUpdatePartial", Model)
        <div id="divserviceoption" class="divupdateService">
            <table class="tableupdateService">
                <tr><td colspan="2"><h2 class="OrderSubHeader">服务消息通知:</h2></td></tr>
                <tr>
                    <td colspan="2">
                        @Html.Action("_OrderNotifySettingPartial","OrderNotifySetting",new {IsEdit=@Model.IsEdit,OrderID=@Model.Order.ID})
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @if (Model.IsEdit)
                        {
                            <div style="text-align:center;">
                                @Html.Action("CreateNotifySetting", "OrderNotifySetting", new { IsEdit = Model.IsEdit })
                            </div>
                        }
                    </td>
                </tr>
                <tr><td colspan="2"><h2 class="OrderSubHeader">服务附件文档:</h2></td></tr>
                <tr>
                    <td colspan="2">
                        @Html.Action("_CreateUploadRequestFilePartial", "UploadFile", new { OrderNo = Model.Order.OrderNO })
                    </td>
                </tr>
                <tr><td colspan="2"><h2 class="OrderSubHeader">服务类型:</h2></td></tr>
                <tr>
                    <td class="tablabel">服务类型</td>
                    <td>
                        @Html.Action("_ServiceTypePartial", "Print")
                        @Html.HiddenFor(x => x.Order.PrintType.Name)
                        @Html.HiddenFor(x => x.Order.PrintType.Desc)
                        @Html.HiddenFor(x => x.Order.PrintType.price)
                        @Html.HiddenFor(x => x.Order.PrintType.ID)
                        @Html.HiddenFor(x=>x.Order.PrintType.Group.ID)
                        @Html.HiddenFor(x => x.Order.PrintType.Group.Name)
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="divOrderSubmit">
        @Html.ActionLink("上一步", "ServiceOrderCreate1Step", new { }, new { @class = "btn btn-primary btn-action-op" })
        <input type="submit" value="提交" class="btn btn-primary btn-submit-op" id="btnordersubmitt" />
    </div>
}
